.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #507fff;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  display: none;
}

.page.active {
  display: block;
}